.layout {
  display: flex;
  padding-left: 40px;
}
.condition {
  h3 {
    font-size: 14px;
    padding-left: 40px;
  }
  padding: 0px 0px 10px;
  ul{
    padding: 0 0 10px 50px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    overflow: hidden;
  }
}
